DATABRICKS_HOST=https://your-workspace.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/your-warehouse-id
DATABRICKS_TOKEN=your_personal_access_token

DATABRICKS_CATALOG_DEV=your_dev_catalog
DATABRICKS_SCHEMA_DEV=dbt_your_name

DATABRICKS_CATALOG_PROD=your_prod_catalog
DATABRICKS_SCHEMA_PROD=your_prod_default_schema
